@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



  
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header{
    background-color: #ffffff;
    height: 80px;
    border: 1.2px solid #dbdff3;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
}

header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    height: 95%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
   
}





.nav-link {

    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.25rem;
    border-bottom: 2px solid #abb7f1;
}


ul {
    list-style: none;
}
.list-unstyled {
    position: relative;
    margin-top: -51px;
    margin-left: -10px;
}
#apresentacao h1 {
    margin-left: 0px;
    text-align: left;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    letter-spacing: 0px;
    padding: 15px 0;
    color: #000000;
    margin-top: -30px;
}
header h1{
    text-align: center;
    border: 2px solid #abb7f1;
}

#apresentacao h2 {
    text-align: left;
    font-size: 10rem;
    letter-spacing: -20px;
    margin-top: -63px;
    color: black;
}

  

.overflow-visible {
    overflow: visible !important;
}

html {
    scroll-behavior: smooth;
}
.img-proj .col:hover img {
    opacity: 0.7; 
    transition: opacity 0.3s ease-in-out; 
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: Consolas, monospace;

}

input, textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}

.conteiner {
    display: flex;
    flex-direction: column;
}
  
.row {
    display: flex;
    flex-direction: row;
}
  
.col {
    flex: 1;
}
  
html, body {
    overflow-x: hidden; 
}
  


.redes img:hover {
    filter: blur(5px);
    
}




h5 {
    margin-bottom: 35px;
    margin-top: -50px;
}







.img-proj p {
    margin-top: -20px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.image {
    max-width: 100%;
    height: auto;
}

body {
    background-image: linear-gradient(to bottom, #c2c8f7, #212529);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transition: background-size 0.5s ease-in-out;
}
  
  
#apresentacao {
    height: 100vh;
}
#projetos h5 {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: underline;
}
#projetos p {
    color: #ffffff;
}
body.scrolled {
    background-size: 100% 200%;
}
  
@media (min-width: 768px){
    .img-small {
    max-width: 98px;
    height: auto;
    margin-top: 284px;
    margin-left: 20px;
    }
    #apresentacao p {
        margin-left: auto; 
        margin-right: auto; 
        width: 80%;
        font-weight: 1000;
        font-size: 20px;
        
    }
}


@media (max-width: 767px) {
    .img-small {
        max-width: 54px;
        height: auto;
        margin-left: 25px;
    }
    .list-unstyled {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }
    #apresentacao h2 {
        font-size: 50px;
        letter-spacing: 0px;
        margin-top: 0px;
        padding-bottom: 26px;
        padding-top: 0px;
    
    }
    #apresentacao h1 {
        font-size: 25px;
        letter-spacing: 0px;
        margin-left: auto; 
        margin-right: auto; 
       
    }
    #apresentacao p {
        margin-left: auto; 
        margin-right: auto; 
        width: 100%;
        margin-top: 7px;
        margin-bottom: 94px;
    
    }
    
   
    #projetos h5 {
        color: #ffffff;
        font-size: 2rem;
        
    }


}